<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
  <body>
    <nav>
      <li><%= link_to 'Sign-Up', new_user_path %></li>
      <li><%= link_to 'Log in', log_in_path %></li>
    </nav>

  <%= yield %>

  </body>
</div>
</html>
